@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
.listcontainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
  width: 100vw;
  /* padding: 20px; */
  justify-content: center;
  align-items: center;
  /* background-color: beige; */
  background: linear-gradient(45deg, purple, transparent);
}
.listcontainerbig {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* padding: 20px; */

  overflow-y: auto;
  width: 100vw;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(45deg, purple, transparent);
}
